<td class="dance-style dance-style-{{dance.style | lowercase}}">{{dance.style}}</td>
<td class="dance-name"><a href="#/{{dance.id}}">{{dance.name}}</a></td>
<td class="dance-reoccurring-date">{{dance.reoccurringDate | reoccurringDateFormatter }}</td>
<td class="dance-next-date">{{dance.nextDate | date}}</td>