<h1>{{dance.name}}</h1>
<ul>
  <li>image: <img ng-src="{{dance.imgURL}}" width="200"></li>
  <li>next date: {{dance.nextDate | date }}</li>
  <li>reoccuring: {{dance.reoccurringDate | reoccurringDateFormatter }}</li>
  <li>style: {{dance.style}}</li>
</ul>