<select ng-model="styleFilter" ng-init="styleFilter = styleFilter || styles[0]" ng-options="style for style in styles"></select>
<select ng-model="dayFilter" ng-init="dayFilter = dayFilter || days[0]" ng-options="day for day in days"></select>
<table class="table table-hover">
	<tr><th>Style</th><th>Name</th><th>Date(s)</th><th>Next Dance</th></tr>
	<tr ng-repeat="dance in dances | stylesFilter: styleFilter | daysFilter: dayFilter | orderBy: ['style', 'name']" dance="dance"></tr>
</table>