<h1>{{style.name}}</h1>
<div class="col-sm-6">
	<img class="img-responsive" ng-src="{{style.imgURL}}">
</div>
<div class="col-sm-6">
	{{dance.description}}
</div>
<div class="col-sm-12">
	This post was last modified on {{dance.lastmodified | date}}
</div>